@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

.navbar-nav {
  float: right;
}

/* top-nav */
@media (max-width: 900px) {
  .navbar-nav {
    float: none;
    text-align: center;
  }
}

.nav {
  display: block;
}

.logo {
  background: url(/logo.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.site-header .site-branding {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.site-header {
  background: #517f9d;
  position: relative;
  width: 100%;
  margin-bottom: 3em;
  overflow: hidden;
  min-height: 200px;
}

.site-title {
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: rgb(255 255 255 / 10%) -1px -1px 1px, rgb(0 0 0 / 50%) 1px 1px 1px;
}

.site-title::after {
  background-color: #fff;
  content: "";
  height: 2px;
  display: block;
  width: 100%;
  margin: 10px auto;
}

.site-description {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 0.2em 0;
  letter-spacing: 5px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: rgb(255 255 255 / 10%) -1px -1px 1px, rgb(0 0 0 / 50%) 1px 1px 1px;
}

/* notice */
.widget {
  background-color: #fff;
  color: #727272;
  font-size: 14px;
  margin: 0 auto 2em;
  overflow: hidden;
  padding: 16px;
  text-align: center;
}

.widget .widget-title {
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 2em;
  padding: 1.5em 1.5em 0;
  text-transform: uppercase;
  text-align: left;
}

.widget .widget-title::after {
  background-color: #009688;
  content: "";
  position: relative;
  width: 35px;
  display: block;
  height: 3px;
  bottom: -8px;
}

.widget ul {
  list-style: none;
  padding: 0 1em;
  text-align: left;
}

.widget li {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5em 0;
}

.widget a {
  color: #727272;
}

.widget a:hover {
  color: #009688;
}

.widget .book-section-flat>a {
  font-weight: 400;
}

.widget a.twitter {
  background: #1b95e0;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  line-height: 35px;
  padding: 8px 20px;
  text-align: center;
}

.widget .line {
  margin: 2em 0 2em;
}

/* footer */
.site-footer {
  background-color: #517f9d;
  color: #fff;
  min-height: 70px;
  font-size: 12px;
  padding: 3em 0 3em;
  margin-top: 3em;
  letter-spacing: 1px;
}

.site-info {
  text-align: center;
}

.site-footer a {
  color: #fff;
}

.site-footer p {
  margin: 1em 0;
  line-height: 1.7em;
}

/* index page */
.index ul {
  list-style: square;
  padding: 0 1em;
  text-align: left;
  max-width: 550px;
}

.index li {
  padding: 0.5em 0;
}

/* 解决Bootstrap的row类，引起网页横向滚动条的问题 */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* 重写Bootstrap样式 */
body {
  font-size: 17px;
}

blockquote {
  font-size: inherit;
}

.featured-image {
  max-width: 100px;
  max-height: 100px;
  float: right;
  vertical-align: middle;
  margin-left: 1rem
}